<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- KitKat (API 19): override minSdk requirements for media3 + ijkplayer packages -->
    <uses-sdk tools:overrideLibrary="androidx.media3.common, androidx.media3.container, androidx.media3.database, androidx.media3.datasource, androidx.media3.datasource.okhttp, androidx.media3.decoder, androidx.media3.exoplayer, androidx.media3.exoplayer.hls, androidx.media3.extractor, androidx.media3.ui, com.debugly.ijkplayer" />

</manifest>
